body {
  font-family: monospace;
  padding: 10px;
  font-size: 14px;
}

#console {
  border: 1px solid #ddd;
  padding: 0px 20px 0px 10px;
  width:   90%;
  overflow-x: auto;
  height:  auto; }

pre {
    white-space: pre-wrap; /* css-3 should we be so lucky... */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 ?? */
    white-space: -o-pre-wrap; /* Opera 7 ?? */
}

form {
  margin: 0;
  padding: 0;
}

#console .prompt {
  display: inline;
  blink;
}

#console input {
  padding: 6px;
  border: none;
  width:  87%;
  height: 5%;
  margin: 0 0 20px 0;
  font-family: monospace;
  font-size: 14px; }

